<!DOCTYPE html>
<html lang="ar" dir="rtl">
<!--begin::Head-->
<partial name="_LoginHeadPartial" />
<!--end::Head-->
<!--begin::Body-->
<body class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading" dir="rtl" id="kt_body">

    @RenderBody()

    <div class="" style=" position: absolute; bottom: 0; right: 0; z-index: -1; overflow: hidden; ">
    <img src="assets/media/bg/pattern.svg" />
</div>



    <!--begin::Page Scripts-->
    <partial name="_LoginScriptPartial" />
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>